
/* see iol.css for inherited styling */

/* customisable css for this glamour element copied from teasers, teasers_head etc */

.glamour_teasers {
    width: 657px;
    height: 190px;
    background: none repeat scroll 0% 0% #EBEFF1;
    margin: 0px 0px 20px;
    position: relative;
    padding: 0px;
    float: left;
}

.glamour_teasers_header {
    font-size: 17px;
    font-weight: bold;
    color: #3F434C;
    margin: 0px 0px 0px 15px;
}

.glamour_teasers_head {
    width: 657px;
    height: 22px;
    background: url('http://www.iol.co.za/css/style-images/teasers_bg.jpg') repeat-x scroll 0% 0% transparent;
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
}

.glamour_teasers_content {
    width: 657px;
    height: 172px;
    background: none repeat scroll 0% 0% #EBEFF1;
    position: absolute;
    top: 22px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    float: left;
    z-index: 20;
}

.glamour_teasers_pic {
    width: 140px;
    margin: 22px 0px 0px 15px;
    overflow: hidden;
    float: left;
}

.glamour_teasers_pic img { /* restricting size of lead image */
    max-width: 140px; 
    max-height: 140px;
}

.glamour_teasers_left_text {
    font-size: 12px;
    width: 156px;
    float: left;
    margin: 13px 0px 0px 15px;    
}

.glamour_teasers_left_text a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
}

.glamour_teasers_left_text span {
    display: inline-block;
    border-top: 10px;
    margin-top: 1em;
}

.glamour_teasers_right_text_container {
    width: 280px;
    height: 140px;
    float: left;
    margin: 15px 0px 0px 15px;
    padding: 0px 15px;
    border-left: 1px solid #DEE3E6;
    border-width: 1px;
    border-color: #DEE3E6;
}

.glamour_teasers_right_text {
    margin: 12px 0px 14px;
    font-size: 14px;
    font-weight: normal;
    margin: 8px 0px 0px;
    padding: 0px;
}

.glamour_teasers_right_text a {
    text-decoration: none;
    color: #000;
}

.glamour_teasers_right_read_more {
    font-size: 11px;
    font-weight: normal;
    margin: 2px 0px 0px;
    padding: 5px 0px 0px;
}

.glamour_teasers_right_read_more a {
    margin: 2px 0px 0px;
    padding: 5px 0px 0px;
    color: #000;
    text-decoration: none;
}

