
/* current iol styling that is inherited by all elements */

h1, h1 a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: #3F434C;
    margin: 0px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial,Helvetica,sans-serif;
}

element {
}

#col_1_2_3_container_sections {
    width: 974px;
    height: 100%;
    margin: 35px auto 0px;
    padding: 0px 0px 2px;
    background-color: #FFF;
    z-index: 799;
}

#col_1_2 {
    width: 657px;
    height: 100%;
    background: none repeat scroll 0% 0% #FFF;
    margin: 0px 17px 0px 0px;
    float: left;
}

.pics {
    border: 0px none;
}
